* {
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    font-size: calc(0.55rem + 0.2vw + 0.2vh);

    /* background-image: url("../images/background.webp"); */
    background-color: rgb(10,10,40);
}

canvas {
    display: block;
}

#game-container {
    min-height: 400px;
    min-width: 250px;
    border: 0.1rem solid;
}

#game-container[data-loading="true"] { 
    background: url(../gifs/loading.gif) no-repeat;
    background-position: center;
    background-size: 5rem;
}

#score-container {
    background-color: white;
    padding: 0.4rem;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
}

#score-container > p {
    display: inline-block;
    margin: 0;
}

#score-container > p:first-child {
    margin-right: auto;
}