* {
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    background-image: url("../images/background.webp");
}

#game-container {
    display: block;
    min-height: 400px;
    min-width: 250px;
    border: 0.1rem solid;
}

#game-container[data-loading="true"] { 
    background: url(../gifs/loading.gif) no-repeat;
    background-position: center;
    background-size: 5rem;
}

#score-container {
    background-color: white;
    padding: 0.4rem;
    box-sizing: border-box;
}